/target/
src/main/webapp/WEB-INF/classes
.classpath
.project
.settings/
.#webclasspath
.tomcatplugin
bak
logs
content/data/_archive/
.classpath
src/main/webapp/WEB-INF/lib/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
src/main/webapp/WEB-INF/lib/maven-status/
src/main/webapp/WEB-INF/lib/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
